<h2>Eventos</h2>
<hr>

<div class="row g-3">
  <div class="col-auto">
    <label for="staticEmail" class="col-form-label">Filtro: </label>
  </div>
  <div class="col-auto">
    <input type="text" placeholder="buscar" [(ngModel)]='filtroLista' class="form-control">
  </div>
</div>

<br>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)='alterarImagem()'>
          {{!exibirImagem ? 'exibir': 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!exibirImagem" src="/assets/{{evento.imagemURL}}"
          [style.width.px]="larguraImagem" [style.margin.px]="margemImagem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <div class="row g-2">
          <div class="col-auto">
            <button type="button" class="btn btn-primary btn-sm">Editar</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-danger btn-sm">Excluir</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- Dica: ver o Json na tela ajuda na identificação da propriedades do objeto {{eventos | json}} -->
